<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <title>Document</title>
</head>
<body>
<div class="icon-box" style="margin:20% 0;text-align:center;">
		<i class="weui-icon-info weui-icon_msg"></i>
		<div class="icon-box__ctn">
				<h3 class="icon-box__title" style="margin:5% 0;">查询失败</h3>
				<p class="icon-box__desc">考号错误或考号姓名不匹配</p>
		</div>
</div>
</body></html>
