<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>成绩单</h1>
    <p>
        <span>学生姓名：{{ student.stu_name }}</span>
        <span>学生考号：{{ student.stu_id }}</span>   
    </p>
    <ul>
        {% for i in range(length) %}
        <li>
           <span>{{titles[i]}}</span>
           <span>{{scores[i].score}}</span>
        </li> 
        {% endfor %}
    </ul>
</body>
</html>